*{
padding:0;
margin:0;
}
nav{
    background-color: rgba(217,217,217,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:50px;
    padding-top: 50px;
}
.image-continer{
    display: flex;
    gap:10px;
    margin-right:100px ;
}
.images{
    background-color: white;
    width: 40px;
    height:40px;
     border-radius: 50%;
     margin-top: 80px;
    
}
.type{
    display: flex;
    background-color: white;
    width: 150px;
    height: 40px;
     border-radius: 20px;
    margin-left:100px;
    margin-top:80px;
}
.dir{
    display: flex;
flex-direction: row;
margin-top: 50px;
margin-bottom: 50px;
column-gap: 50px;
}
.right{
    display: flex;
    width:500px;
    height: 330px;
    background-color: rgba(217,217,217,1);
    border-radius: 10px;
}
.img{
    display:flex;
    height: 100px;
    width:700px;
    background-color: rgba(217,217,217,1);
    border-radius: 10px;

}
.left{
    display: flex;
    flex-direction: column;
        justify-content: space-between;
        margin-left: 100px;

}
footer{
    height: 80px;
    width: 100%;
    background-color: rgba(217,217,217,1);
    padding-top:10px
}